.my-header {
  text-align: center;
  background-color: white;
}
.pic {
  border-radius: 50%;
}
.me {
  font-size: large;
  font-style: oblique 0deg;

}
.mee {
  background-color: hsla(30, 10%, 50%, .3);
  height: 400px;
  text-align: center;
  text-decoration-color:aqua;
  text-decoration-line: red;
}
.myskills {
  font-size: large;
  font-style: oblique 0deg;
  text-align: left;
}
.myskill {
  background-color: hsla(30, 10%, 50%, .3);
  height: 500px;
  text-align: left;
  text-decoration-color:aqua;
  text-decoration-line: red;
}
.myproject {
  background-color: hsla(30, 10%, 50%, .3);
  height: 650px;
  text-align: center;
  text-decoration-color:aqua;
  text-decoration-line: red;
}
.carousel-item {
  height: 650px;
  text-align: center;
  background-color:  hsla(30, 10%, 50%, .3);
  font-size: large;
  font-style: oblique 0deg;
}
.mycontact{
  background-color: hsla(30, 10%, 50%, .3);
  height: 250px;
  text-align: center;
  text-decoration-color:aqua;
  text-decoration-line: red;
}

.m{
  text-align: center;
  background-color: hsla(30, 10%, 50%, .3);
}
